{% extends 'base.html' %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{%url 'recipe_list'%}">Main Page</a>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{%url 'create_recipe'%}">Create a recipe</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
             <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptios Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="food-items">
            {% for recipe in recipe_list %}
            <div>
                <h3><a href="{%url 'show_recipes' recipe.id %}">{{ recipe.title }}</a></h3>
                <div>
                    <img src="{{ recipe.picture }}">
                </div>
                <div>4.3 stars</div>
                <p>{{ recipe.created_on|date:"M Y" }}</p>
            </div>
            {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
