body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

nav a {
    color: white;
}

a:link { text-decoration: none; }

header {
    background-color: #FF5A33;
}

h1 {
   color: #146152;
}

h3 a {
    color: #44803F
}

.food-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

table tr:nth-child(even){
    background-color: grey;
}

footer {
    background-color: #B4CF66;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0;
    padding-left: 24px;
}

img {
    height: 200px;
    width: 200px;
}

header {
    border-bottom: 1px solid black;
    padding: 16px;
}
